body {
  margin-top: 2cm
}

.container {
  padding: 2px 2px
}

.logos img {
  height: 60px
}


.programming-language img {
  height: 30px
}

.css-design {
  display: none
}
.java-android {
  display: none
}
.php-drupal {
  display: none
}
